[
  {conserl, [
    {hostname, "127.0.0.1"},
    {port, 8500}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [{level, debug}, {formatter, lager_default_formatter}, {formatter_config, [date, " ", time, " [",severity,"] -- ", module, ":", function, " (", pid, "/", line, ") -- ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/conserl_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/conserl_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/conserl_console.log"}, {level, info}]}
    ]}
  ]}
].

